@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/basis-grotesque-pro-400.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/basis-grotesque-pro-500.woff2") format("woff2");
  }

  @font-face {
    font-display: swap;
    font-family: "Basis Grotesque Pro";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/basis-grotesque-pro-700.woff2") format("woff2");
  }
}
